/bower_components/
/node_modules/
/.pulp-cache/
# Track only compiled JS in output/ (needed for Docker builds)
/output/**/corefn.json
/output/**/docs.json
/output/**/externs.cbor
/generated-docs/
/.psc*
/.psa*
/.spago/
