node_modules/
*/dist
*/.tmp
*/bower_components
*/test/bower_components
.Rproj.user
*.swp
DISCLAIMER.txt
*.swo
notes/
monitor/
papers/
webapp/config.json
package-lock.json
secrets/
**/*.js_bc
**/.DS_Store
**/*AGENTS.md
**/*opencode*
