node_modules/
bower_components/
dist/
.tmp/
test/screenshots/
app/scripts/purescripts/.spago/
app/scripts/purescripts/output/
app/scripts/purescripts/node_modules/
app/scripts/bundle.js
app/scripts/bundle.js.map
.psc-ide-port
.purs-repl
